.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 60px;
}

.header img {
  width: 250px;
}
.menu {
  display: flex;
  padding: 8px;
}
.menu li {
  padding: 8px;
  margin-top: 1rem;
  margin-left: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #A68241;
  border-radius: 8px;
}
.menu li:hover {
  background-color: #7D8C6D;
  border-radius: 8px;
  color: #fff;
}


.banner {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}
.img-intro {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-intro.active {
  opacity: 1;
}

.bg-dark {
  position: relative;
}
.introducao {
  display: block;
}
.intro {
  color: #bed4a5;
  padding: 4rem 1rem;
  font-size: .857rem;
}
.titulo-intro {
  margin-top: .3rem;
  margin-bottom: 1rem;
  color: #fff;
}
.descricao-intro {
  margin-bottom: 2rem;
  color: #fff;
}
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  transition: .3s;
  cursor: pointer;
  background-color: #A68241;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover{
  transform: scale(1.1);
}
#ambiente .titulo,
.time .titulo,
.corporal .titulo,
.facial .titulo {
  padding-top:5rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  color: #7D8C6D;
}
.facial {
  text-align: center;
  padding-bottom: 3rem;
  background-color: #a6834127;
}
.facial .titulo {
  color: #A68241;
}
.sobre-item { 
  display: block;
  align-items: center;
  line-height: 2;
}
.sobre-descricao {
  font-size: .9rem;
}
.lista-servicos {
  display: flex;
  gap: 30px ;
  justify-content: space-evenly;
  flex-wrap: wrapm;
  margin-top: 3rem;
}
.item-servico {
  transition: .3s;
  text-align: center;
}
.item-servico:hover {
  transform: scale(1.1);
}
.item-servico img {
  height:230px;
  object-fit: cover;
  margin-bottom: 1rem;
  width: 100%;
}
.item-servico h3 {
  font-size: 16px;
}
.corporal .btn,
.facial .btn {
  background-color: #A68241;
  font-size: 12px;
  margin-top: 3rem;
}

.corporal {
  background-color: #fffef5;
  padding: 12px;
  text-align: center;
  padding-top: 3rem;
}
.corporal .titulo {
  padding-top: 3rem;
}

.corporal .btn  {
  background-color: #A68241;
}


.time {
  margin-top: 4rem;
  text-align: center;
}
.time p { 
  padding: 0 18px 0 18px;
}
.lista-time {
  display: block;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
}
.item-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}
.item-time:nth-child(even) {
  background-color: #d3dfc6;
}
.item-time img {
  width: 500px;
}
.descricao-time {
  width: 500px;
  line-height: 2;
  text-align: start;
}

.ambiente {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px ;
  padding-top: 2rem;
  align-items: center;
  padding-bottom: 3rem;

}
#ambiente .titulo {
  text-align: center;
}
.grid-fotos { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-fotos img {
  height: 200px;
  cursor: pointer;
}

.img-selecionada {
  display: block;
  margin-top: 20px;
  max-width: 600px;
  max-height: 600px;
  opacity: 1;  /* Opacidade inicial */
  transition: opacity 0.5s ease;  /* Transição suave para o efeito de "fade-in" */
}


.footer {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.footer-bg {
  background-color: #7d8c6d5b;
}

.footer img {
  width: 300px;
}

.footer-itens img{
  width: 32px;
}

.lista-redes {
  display: flex;
  gap: 20px;
}

.endereco img {
  width: 24px;
}

.item-endereco {
  display: flex;
  gap: 10px;
  font-size: 14px;
  align-items: center;
}

.item-endereco:first-child {
  margin-bottom: 1rem;
}

@media(max-width:768px) {
  .header img {
    width: 150px;
  }
  .menu {
    display: none;
  }
  #btn-mobile {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff; 
    border-radius: 8px;
  }

  #btn-mobile::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff; 
    border-radius: 8px;
  }

  .lista-servicos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .item-servico img {
    height: 150px;
  }
  .item-time {
    flex-wrap: wrap;
  }
  .item-time img {
    margin-bottom: 1rem;
  }
  .grid-fotos {
    display: flex;
    overflow-x: scroll;
  }
  .grid-fotos img {
    width: 160px;
    height: 80px;
  }
  .ambiente {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
    padding: 24px 0px;
    height: 100%;
  }
  .footer-bg {
    height: 100%;
    padding: 32px
  }
  .item-endereco {
    margin-bottom: 1rem;
  }
  .banner {
    height: 100vh;
  }
  .footer .logo {
    width: 200px;
    margin-bottom: 2rem;
  }

  #ambiente .titulo,
.time .titulo,
.corporal .titulo,
.facial .titulo {
  padding-top: 1rem;
  font-size: 1.5rem;
}
}

@media(max-width:768px) {
  .item-time img {
    width: 100%;
  }
  .img-selecionada {
    border-radius: 0px;
  }
}